body {
  padding-right: 170px;
  padding-left: 170px;
  font-family: 'Roboto Condensed', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
}
.header{
  padding-top: 43px;
  padding-bottom: 20PX;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  padding-left: 170px;
}
.nav{
  display: flex;
 align-items: center;
}
.nav-list{
  padding-right: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.nav-item{
  font-size: 20px;
  line-height: 15.23px;
  padding-right: 32px;
}
.link{
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
background-color: #FF7500;
color: #fff;
}
.test-one{
 padding-bottom: 80px;
 padding-left: 100px;
 padding-top: 80px;
background-color: black;
color: white;
}
.main-section{
padding-top: 210px;
padding-bottom: 475px;
padding-left: 170px;
}
.hr-one{
   padding-right: 1190px;
}
.main-hr{

  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.font {
  font-size: 100px;
}

.salom {
  border-radius: 2px;
  width: 115px;
  height: 22px;
  background-color: #FF7500;
  color: white;
  border: 2px solid red;
}
.pad{
  padding: 10px;

}

.h2{
font-size: 50px;
}
.icons1{
  object-fit: contain;
  border-radius: 50%;
      width: 47.12px;
    height: 47.12px;
  background-color:rgba(250, 158, 10, 0.162) ;
}
.icons2{
  border-radius: 50%;
  background-color:
    rgba(250, 158, 10, 0.162) ;
    width: 47.12px;
    height: 47.12px;
}
.icons3{
  border-radius: 50%;
  background-color:
    rgba(250, 158, 10, 0.162) ;
    width: 47.12px;
    height: 47.12px;
}
.right{
  padding-right: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hr{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}

.icons {
  padding-right: 66px;
    display: flex;
    justify-content: space-between;
    align-items: ce;
}

.test {
  /* width: 1000px; */
  display: flex;
  background-color: black;
  color: white;
}
.jump{
  padding-right: 66px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px ;
}
.rasmjon {
  object-fit: contain;
  background-color: black;
}
.book{
  width: 1100px;
  height: 419px;
  border-radius: 12px;
  padding-left: 180px;
  padding-top: 200px;
  background-color: black;
  padding-bottom: 150px;
}
.top{
  padding-left: 40px;
}
.box {
  border-radius: 15px;
  width: 1000px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.top{

}
.radius{
  border-radius: 20px;
}

a {
  list-style: none;
  color: black;
  text-decoration: none;
}
.nomi{
  padding-right: 68px;
display: flex;
justify-content: space-between;
font-size: 16px;
line-height: 19px;
list-style: none;
}
.foter1
{
padding-left: 170px;
list-style: none;
}
.foter2
{
list-style: none;
}
.foter3
{
list-style: none;
}
.foter4
{
padding-right: 170px;
list-style: none;
}
.logo{
  display: flex;
  justify-content: space-between;
}
.ikons{
  padding-right: 16px;
  display: flex;
  align-items: center;
}
.linklar{
  display: flex;
justify-content: left;
}
footer{
  background-color: rgba(248, 248, 248, 1);
}