.salom
{
  width: 115px;
  height: 22px;
  background-color:  #FF7500;
  color: white;
}
.icons
{
  width: 100px;
  height: 100px;
  background-color:
  rgba(255, 117, 0, 0.2)
   ;
}
.test
{
  background-color: black;
  color: white  ;
}
.rasmjon
{
  object-fit: contain;
  background-color: black;
}
.box
{
  width: 1000px;
  background-color: black ;
  color: white;
}
a
{

  color: black;
  text-decoration: none;
}
